[Desktop Entry]
Name=Budgie Desktop on KWin XWayland
Comment=This session logs you into the Budgie Desktop
Exec=/usr/bin/kwin_wayland --xwayland --no-lockscreen --locale1 --exit-with-session=/usr/bin/budgie-desktop
TryExec=/usr/bin/kwin_wayland
Icon=
Type=Application
DesktopNames=Budgie;GNOME
